body {
    color: #777e8c;
}

/* Heads up Display*/
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(69, 218, 69);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(69, 218, 69);
    width: 0%;
}

/* Sound */
.sounds {
    padding: 0 0;
    margin-bottom: 3rem;
}

/* Answer Sheet */
.msheet {
    font-size: 2.0rem;
    padding: 0 0;
    width: 90rem;
    margin-bottom: 3rem;
    color: rgb(28,26,26);
}

.asheet {
    font-size: 2.0rem;
    padding: 0 0;
    width: 90rem;
    height: 10rem;
    margin-bottom: 3rem;
    color: rgb(28,26,26);
}

/* Show Answer */
.answer {
    font-size: 2.0rem;
    padding: 0 0;
    width: 20rem;
    text-align: center;
    color: rgb(28,26,26);
    margin-bottom: 3rem;
}

.hbtn {
    color: #fff;
    font-size: 2.0rem;
    width: 20rem;
    text-align: center;
    margin: 0 auto;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 3rem;
    background: #00aaff;
    box-shadow: 0 4px #0088cc;
    cursor: pointer;
}

.hbtn:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}

